.calculo {

    margin: 50px;
   background-color: #9c9898;
}

.pantalla {

    text-align: right;

}




.botones {
    
    text-align: center;

    background-color: #706e6e;
        
}
.boton1 {
    padding: 4px;
}
.boton2 {
    padding: 4px;
}
.boton3 {
    padding: 4px; 
    
}
.boton4 {
    padding: 4px;
}
.boton5 {
    padding: 4px;
}