.calculo {
    width: 280px;
    margin: 50px;
    font-family: fantasy;
    font-size: 40px;
    background-color: #9c9898;


}

.pantalla {
    text-align: right;
    background-color: antiquewhite;
    width: 280px;
    height: 50px;
}




.botones {
    height: 220px;
    width: 280px;
    text-align: center;
    -webkit-text-fill-color: #f4f0f0;
    

}
.boton-calculo {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.boton-evento {
    flex-basis: 20%;

    
    background-color: rgba(94, 43, 43, 0.292);


}